<div class="text-center animate__animated animate__fadeIn" style="margin-top: 50px;">
  <%= image_tag @person.ext_id, width: 200 %>
  <h2 style="padding: 30px;"><%= @person.presentation %></h2>
</div>
