---
http_interactions:
- request:
    method: get
    uri: http://swapi.dev/api/species
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://swapi.dev/api/species
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.16.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 09 Jan 2021 14:46:03 GMT
- request:
    method: get
    uri: https://swapi.dev/api/species
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      Location:
      - http://swapi.dev/api/species/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 09 Jan 2021 14:46:04 GMT
- request:
    method: get
    uri: http://swapi.dev/api/species/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://swapi.dev/api/species/
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx/1.16.1</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 09 Jan 2021 14:46:05 GMT
- request:
    method: get
    uri: https://swapi.dev/api/species/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"b997c4498337eee9a38ba0731c7a8adb"'
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":37,"next":"http://swapi.dev/api/species/?page=2","previous":null,"results":[{"name":"Human","classification":"mammal","designation":"sentient","average_height":"180","skin_colors":"caucasian,
        black, asian, hispanic","hair_colors":"blonde, brown, black, red","eye_colors":"brown,
        blue, green, hazel, grey, amber","average_lifespan":"120","homeworld":"http://swapi.dev/api/planets/9/","language":"Galactic
        Basic","people":["http://swapi.dev/api/people/66/","http://swapi.dev/api/people/67/","http://swapi.dev/api/people/68/","http://swapi.dev/api/people/74/"],"films":["http://swapi.dev/api/films/1/","http://swapi.dev/api/films/2/","http://swapi.dev/api/films/3/","http://swapi.dev/api/films/4/","http://swapi.dev/api/films/5/","http://swapi.dev/api/films/6/"],"created":"2014-12-10T13:52:11.567000Z","edited":"2014-12-20T21:36:42.136000Z","url":"http://swapi.dev/api/species/1/"},{"name":"Droid","classification":"artificial","designation":"sentient","average_height":"n/a","skin_colors":"n/a","hair_colors":"n/a","eye_colors":"n/a","average_lifespan":"indefinite","homeworld":null,"language":"n/a","people":["http://swapi.dev/api/people/2/","http://swapi.dev/api/people/3/","http://swapi.dev/api/people/8/","http://swapi.dev/api/people/23/"],"films":["http://swapi.dev/api/films/1/","http://swapi.dev/api/films/2/","http://swapi.dev/api/films/3[...]
